#body {
  background-color: black;
  color: white;
  margin-top: 3%;
  margin-left: 15%;
  margin-right: 15%;
}

#card-list-container {
  margin-top: 5%;
}

.card {
  border-style: solid;
  text-align: center;
  padding: 3%;
  color: black;
  margin: 3%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.card-img-top {
  height: 16rem;
}

#cocktail-details-container {
  width: 50%
}

.form {
  margin-top: 5%;
}