.card {
  border-style: solid;
  width: 20%;
  text-align: center;
  padding: 1%;
}

img {
  width: 100%;
  height: 100%;
}

.card-container {
  padding-bottom: 10%;
}

#cocktail-details-container {
  width: 50%
}