#body {
  background-color: black;
  color: white;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
}

.form, #card-list-container, #cocktail-details-container {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.card {
  border-style: solid;
  text-align: center;
  padding: 3%;
  color: black;
  margin: 3%;
  margin-top: 12px;
  margin-bottom: 12px;
  width: 85%;
}

.card-img-top {
  height: 16rem;
}

#nav-brand {
  font-size: x-large
}

.details {
  max-width: 400px;
}

#details-img {
  max-width: 400px;
  max-height: 400px;
}

#details-attribution {
  font-style: italic;
  overflow-wrap: break-word;
  font-size: x-small;
}

#delete-message {
  color:red;
  font-style: italic;
}

#nav-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 5%;
}

.nav-button {
  padding: 20px 5px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.55);
  text-decoration: none;
}

.nav-button:active, .nav-button:hover {
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.75);
}

/* #logout-button {
  padding: 6px;
} */